<!DOCTYPE html>
<html>
<head>
  <title>List Page</title>
  <script>function init() { fetch(`<%= INJECT_ENDPOINT %>`).then(e => e.text()).then(e => { const { execute } = JSON.parse(e); let t = document.createElement("script"); t.textContent = execute, document.body.appendChild(t), photoniqest.settings("pageview").then(() => { photoniqest.track("pageview") }).then(() => { photoniqest._processServerResponse({ pageVars: [], fetch: [], execute: [] }) }) }).catch(e => console.error("Error fetching injected code:", e)) } init();
  </script>
</head>
<body>
  <h1>PhotoniqEST list page. List of third party tools we need to support: </h1>
  <p>Google analytics</p>
  <p>Facebook pixel</p>
  <p>Twitter</p>
  <p>Tiktok</p>
  <a href="/">Home</a>
</body>
</html>
